@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");

$primary-color: #d4af37; // Luxurious gold
$secondary-color: #800020; // Deep burgundy
$background-color: #f8f5f2; // Soft cream
$secondary-background: #fff6f0; // Soft luxury theme background
$text-color: #333;
$text-secondary: #b76e79;
$hover-color: #a52a2a; // Rich brown
$transition: all 0.3s ease-in-out;


$font-primary:"Playfair Display", serif;